@*@model IEnumerable<MyPraticeApplication.Models.Employee>*@
@using MyPraticeApplication.Models
@model IEnumerable<MyPraticeApplication.Models.Employee>
@{
    ViewBag.Title = "GetEmployeeData";
    var employeeData = (IEnumerable<Employee>)TempData["employee"];
}

<h3>Employee Data</h3>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(e => e.EmployeeId)</th>
            <th>@Html.DisplayNameFor(e => e.EmployeeName)</th>
            <th>@Html.DisplayNameFor(e => e.Address)</th>
            <th>@Html.DisplayNameFor(e => e.Phone)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in (IEnumerable<Employee>)TempData["employee"])
        {
        <tr>

            <td>@Html.DisplayFor(m => employee.EmployeeId)</td>
            <td>@Html.DisplayFor(m => employee.EmployeeName)</td>
            <td>@Html.DisplayFor(m => employee.Address)</td>
            <td>@Html.DisplayFor(m => employee.Phone)</td>
        </tr>
               }
    </tbody>
</table>

